* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* overflow: hidden; */
    max-width: 1920px;
}

.head {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.logo {
    text-align: left;
    padding: 20px 200px;
    padding-left: 0;
    margin-left: 0;
}

.nav {
    margin-right: 0;
}

.nav li {
    display: inline;
    /* margin-right: 0; */
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px 200px;
    display: flex;
}

.header-text {
    display: block;
    margin-left: 0;
}

.header-img {
    display: flex;
    margin-right: 0;
}

.placeholder-img {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button {
    display: block;
}

.header h1 {
    font-weight: bolder;
    font-size: 48px;
}

.header p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 25px;
}

.info {
    color: #1f2937;
    padding: 20px 200px 100px 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    max-width: 1920px;
    margin: 0 auto;
}

.image {
    display: flex;
    gap: 1rem;
    text-align: center;
    flex-direction: column;
}

.info h2 {
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 20px 200px;
}

img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    align-self: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding: 100px 200px;
}

.thor {
    display: flex;
    justify-content: right;
    color: #1f2937;
    font-weight: bolder;
    font-style: normal;
}


.sign-container {
    background-color: #f9faf8;
    padding: 100px 200px;
}

.sign {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 20px 150px;
    border-radius: 10px;
    display: flex;
}

.sign-up {
    border: 1px solid #e5e7eb;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 33px 200px;
}